---
import AnnouncementBlogCard from "./AnnouncementBlogCard.astro";

const Blog = [
    {
    id: "1",
    title: "Kierrättäminen kannattaa Merkkivaatteissa arvo säilyy todella hyvin",
    rubric: "lookbooks",
    pubDate: "16-03-2016",
    description: "Suomessa käytettyjen vaatteiden ja kenkien kierrättäminen on todella helppoa, sillä kauppa käy vilkkaana netissä. Monien merkkivaatteiden jälleenmyynti on taattu, joskus jopa voitolla. Katso, mitkä merkit käyvät parhaiten kaupaksi käytettynä.",
    link: "#",
    imagePath: "./assets/images/kuva7.jpg",
    imageAlt:"Nämä viime vuoden vaatetrendit",
},

{
    id: "2",
    title: "Nämä viime vuoden vaatetrendit jäävät nyt unholaan!",
    rubric: "lookbooks",
    pubDate: "10-01-2016",
    description: "Viime vuosi tunnetaan erilaisista trendien sekoituksista. Yksi erikoisimmista trendeistä oli pesunkestävät terveyssandaalit vaatteiden kuin vaatteiden kanssa, mutta muoti jäänee tänä vuonna historiaan. Katso mitkä muut viime vuoden villitykset jäänevät unholaan.",
    link: "#",
    imagePath: "./assets/images/kuva4.jpg",
    imageAlt:"Merkkivaatteissa arvo",
},

{
    id: "3",
    title: "Tässä on kevään muodikkain takki!",
    rubric: "lookbooks",
    pubDate: "10-02-2016",
    description: "Päivien kirkastuessa ja lämmetessä untuvapomppa on aika vaihtaa keveämpään asuun. Aivan kesätamineisiin ei vielä Suomen keväässä voida siirtyä, mutta keveät mutta lämpimät kevättakit lämmittävät ihanasti ja istuvat ihanan tyylikkäästi paksujen toppavaatteiden jälkeen.",
    link: "#",
    imagePath: "./assets/images/kuva6.jpg",
    imageAlt:"Tässä on kevään muodikkain takki",
}

];

---
<section class="blog">
    <h2 class="title">
        <marquee class="title-marquee" scrollamount="40">
            <span class="text-capitalize">
                look
                <span>Books</span>
                &ensp;
            </span>
            <span class="title__year text-uppercase">2021</span>
        </marquee>
    </h2>
    <div class="container">
        <ul class="blog-list">
            { Blog.map((item) =>
            <AnnouncementBlogCard 
                id={item.id} 
                title={item.title} 
                rubric={item.rubric} 
                pubDate={item.pubDate}
                description={item.description} 
                link={item.link} 
                imagePath={item.imagePath} 
                imageAlt={item.imageAlt} />
            )}
        </ul>
    </div>
</section>


<style>
    .blog {
        max-width: 100%;
    }

    .title {
        font-family: var(--font-Fraunces);
        font-weight: 400;
        font-size: clamp(4.5rem, -6.5455rem + 32.7273vw, 18rem);
        line-height: 100%;
        letter-spacing: -0.06em;
        color: var(--color-green);
        text-align: center;
        text-wrap: nowrap;
    }

    .title__year {
        font-weight: 700;
    }

    .blog-list {
        display: flex;
        justify-content: space-between;
        gap: var(--indent-min);
    }

    @media screen and (max-width: 1139.98px) {
        .blog-list {
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
