---
import LinkReadMore from "./elements/LinkReadMore.astro";
import {Picture} from "astro:assets";


interface Content {
    id: string;
    title: string;
    rubric: string;
    pubDate: string;
    description: string;
    link: string;
}
const {id, title, rubric, pubDate, description, link}  = Astro.props as Content;

interface Images {
    imagePath: string;
	imageAlt: string;
    
}
const {imagePath, imageAlt} = Astro.props as Images;

const images = import.meta.glob<{ default: ImageMetadata }>("./assets/images/*.{jpeg,jpg,png,gif}",);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "./assets/images/*.{jpeg,jpg,png,gif}". See ImageComponent.astro to debug.`,
  );
---
<li class="item">
    <header class="box-med flex-col-centr padding-left_min padding-right_min">
        <div class="box-small">
            <div class="item-img">
            <Picture class="item-img__img transition" 
                src={images[imagePath]()} formats={["avif", "webp" , "jpeg" ]}
                widths={[320, 350]} sizes={`320px, (min-width: 390px) 350px`} fallbackFormat="jpeg" width={412}
                height={617} alt={imageAlt} />
            <a class="item-box-link" href={link+id}></a>
            </div>

        </div>
    </header>

    <article class="flex-col-centr item-content box-med padding-left_min padding-right_min">
        <div class="box-small">
            <header class="content-header">
                <div class="header-rubric text-uppercase">
                    <h4 class="line-clamp">{rubric}</h4>
                    <time datetime={pubDate}>{pubDate}</time>
                </div>
                <h3 class="header-title line-clamp">
                    <a class="header-title__link transition" href={link+id}>
                        {title}
                    </a>
                </h3>
            </header>
            <p class="content-description line-clamp">
                {description}
            </p>
            <LinkReadMore link={link+id} />
        </div>
    </article>
</li>
<style>
    .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: clamp(36px, 6vw, 90px);
    }

    .item-img {
        /* max-width: inherit; */
        position: relative;
        max-width: inherit;
        width: 100%;
        border-radius: .625rem;
        line-height: 0;
        margin-top: clamp(1.875rem, -3.45828rem + 11.111vw, 4.875rem);
        overflow: hidden;
    }

    .item-img__img {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1.5;
        object-fit: cover;
    }

    .item-img:is(:hover, :focus) .item-img__img {
        transform: scale(1.1);
    }

    .item-box-link:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .item-content {
        margin-top: 3.75rem;
        margin-bottom: 2.625rem;
    }

    .item:nth-child(2n) {
        flex-direction: column-reverse;
    }

    .item:nth-child(2n) .item-content {
        margin-bottom: 0;
    }

    .header-rubric {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font-Inter);
        font-weight: 300;
        font-size: .8125rem;
        line-height: 160%;
        color: var(--color-black);
    }

    .header-title {
        font-family: var(--font-Anybody);
        font-weight: 700;
        font-size: clamp(2rem, 1.10414rem + 2.528vw, 3rem);
        color: var(--color-black);
        margin-top: 1.375rem;
        overflow-wrap: anywhere;
        /* text-wrap : wrap; */
    }

    .header-title__link {
        color: var(--color-black);
    }

    .header-title__link:is(:hover, :focus) {
        color: var(--color-green);
    }

    .content-description {
        font-family: var(--font-Inter);
        font-weight: 300;
        font-size: .8125rem;
        line-height: 160%;
        letter-spacing: 0.03em;
        margin-top: clamp(1.875rem, -3.45828rem + 11.111vw, 4.875rem);
        margin-bottom: 1.875rem;
    }

    .content-description.line-clamp {
        --line: 5;
    }


    @media (hover: hover) {
        .header-title__link:is(:hover, :focus) {
            color: var(--color-green);
        }
    }

    @media (hover: none) {
        .header-title__link:is(:hover, :focus) {
            color: var(--color-green);
        }
    }


    @media screen and (max-width: 1139.98px) {
        .item {
            flex-direction: row;
        }

        .item:nth-child(2n) {
            flex-direction: row-reverse;
        }

        .item-content {
            margin-top: .625rem;
        }

        .item-img {
            margin-top: 0;
        }
    }

    @media screen and (max-width: 575.98px) {
        .item {
            flex-direction: column;
        }

        .item:nth-child(2n) {
            flex-direction: column;
        }
    }
</style>